html, body {
  position: relative;
  height: 100%;
  background: black;
}

.bar-container {
  position: absolute;
  width: 1px;
  height: 100px;
}

.bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#outer-metronome {
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background: white;
}

#inner-metronome {
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background: black;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translateX(-50%);
  transform: translateY(-50%);
}